* {
  /*box-sizing: border-box;*/
}

#root{
  height: 100vh;
}

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-weight: 300;
  color: white;
  font-family: 'BlissProLight', sans-serif;
  overflow: hidden;
}

p, ul, li {
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  list-style: none;

  text-decoration: none;
  color: white;
}
